.background-image {
    background-image: url(../images/pexels-magda-ehlers-2114014.jpg);
    background-position: left top;
    background-size: cover;
    padding: 5rem;
}

@media screen and (min-width: 700px) {
    section {
        background-position: left center ;
    }
}


div img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}